body {
  color:#6528f7;
  background-color:black;
  Background-image: Url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2e98a1dd-c197-4f40-9689-f39c43c15f68/dfmhnlo-6aeb0da8-b490-4a18-942d-422f84887562.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJlOThhMWRkLWMxOTctNGY0MC05Njg5LWYzOWM0M2MxNWY2OFwvZGZtaG5sby02YWViMGRhOC1iNDkwLTRhMTgtOTQyZC00MjJmODQ4ODc1NjIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.i3B73cIqVIJCVcOQumBgbHRrv52Nxevkn9z2djKrp4g");
  Background-repeat:no-repeat;
 Background-position:bottom;  
}
h1{
  text-align:center;
}
h2{
  color:blue;
}
ul{
  color:cyan;
}
ol{
  color:cyan;
}
.box{
  width: 200px;
  height: 100px;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}